html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

body:before {
    content: "";
    position: fixed;
    width: 100%;
    height: 800px;
    background-image: url(./image/wedding-2762825_1920.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.two {
    margin: 0;
    padding: 300px 300px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-weight: normal;
    font-size: 25px;
    position: relative;
    background-size: cover;
    color: gainsboro;
    overflow: hidden;
    display: block;
}

.four {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    top: 10px;
    left: 20px;
    background: transparent;
}

h2 {
    color: pink;
    position: relative;
    ;
}

#one {
    position: relative;
}

#Contact {
    margin: 0;
    padding: 300px 300px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-weight: normal;
    font-size: 25px;
    position: relative;
    background-size: cover;
    color: gainsboro;
    overflow: hidden;
    display: block;
}

#Plans {
    margin: 0;
    padding: 300px 300px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-weight: normal;
    font-size: 25px;
    position: relative;
    background-size: cover;
    color: gainsboro;
    overflow: hidden;
    display: flex;
}

.silver {
    position: absolute;
    top: 55%;
    left: 15%;
    -webkit-transform: translate(-50%, -50%);
    -o-transform: (-50, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    padding: 80px 40px;
    background: rgba(240, 234, 234, 0.151);
    list-style: none;
    cursor: pointer;
}

.gold {
    position: absolute;
    top: 55%;
    left: 85%;
    -webkit-transform: translate(-50%, -50%);
    -o-transform: (-50, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    padding: 80px 40px;
    background: rgba(240, 234, 234, 0.151);
    list-style: none;
}

.diamond {
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -o-transform: (-50, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
    height: 550px;
    padding: 80px 40px;
    background: rgba(240, 234, 234, 0.151);
    list-style: none;
}

.plans_model {
    background-color: pink;
    opacity: 0.6;
    display: block;
    font-style: none;
    box-sizing: border-box;
    color: black;
}

.quote1 {
    text-align: left;
    display: block;
    color: burlywood;
    position: absolute;
    font-size: 30px;
}

.quote2 {
    text-align: right;
    display: block;
    color: burlywood;
    font-size: 30px;
}